@import "tailwindcss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 1. Define Light Mode variables*/
:root {
  --page-bg: #ffffff;
  --nav-bg: #ffffff;
  --text-color: #111111;
  --border-color: #eaeaea;
  --button-secondary-bg: #f5f5f5;
}

/* 2. Define Dark Mode variables */
body.dark {
  --page-bg: #1a1a1a;
  --nav-bg: #111111;
  --text-color: #eeeeee;
  --border-color: #333333;
  --button-secondary-bg: #222222;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

a {
  color: inherit;
  text-decoration: none;
}